@{
    ViewBag.Title = "Chart MVC 6";
}

@addTagHelper "*, Chart.Mvc6"
@model Chart.Mvc6.Sample.ViewModels.ComplexChartsViewModel

<div class="jumbotron">
    <h1>Chart.Mvc6</h1>
    <p class="lead">A .NET wrapper to generate charts using the popular Chart.Js library</p>
    <p>This version is for use with MVC 6 and .Net Core 1.0.</p>
</div>

<h2>Example Charts</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Line Chart</h3>
        <canvas id="LineChart" width="400" height="400"></canvas>
        <line-chart Chart="@Model.LineChart" Width="400" Height="400" Canvas="LineChart"></line-chart>
    </div>
    <div class="col-md-6">
        <h3>Bar Chart</h3>
        <canvas id="BarChart" width="400" height="400"></canvas>
        <bar-chart Chart="@Model.BarChart" Width="400" Height="400" Canvas="BarChart"></bar-chart>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Radar Chart</h3>
        <canvas id="RadarChart" width="400" height="400"></canvas>
        <radar-chart Chart="@Model.RadarChart" Width="400" Height="400" Canvas="RadarChart"></radar-chart>
    </div>
    <div class="col-md-6">
        <h3>Polar Area Chart</h3>
        <canvas id="PolarAreaChart" width="400" height="400"></canvas>
        <polar-chart Chart="@Model.PolarAreaChart" Width="400" Height="400" Canvas="PolarAreaChart"></polar-chart>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Pie Chart</h3>
        <canvas id="PieChart" width="400" height="400"></canvas>
        <pie-chart Chart="@Model.PieChart" Width="400" Height="400" Canvas="PieChart"></pie-chart>
    </div>
    <div class="col-md-6">
        <h3>Doughnut Chart</h3>
        <canvas id="DoughnutChart" width="400" height="400"></canvas>
        <doughnut-chart Chart="@Model.DoughnutChart" Width="400" Height="400" Canvas="DoughnutChart"></doughnut-chart>
    </div>
</div>